@charset "UTF-8";

/*#################################################
############### { IMPORT FONTS } ##################
#################################################*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*#################################################
############### { RESET } #########################
#################################################*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*#################################################
############### { VARIAVEIS CSS } #################
#################################################*/
:root{
    --font-inter: 'Inter', sans-serif; /*Parágrafos: Inter*/
    --font-orbitron: 'Orbitron', sans-serif; /*Título Principal: Orbitron*/
    --font-poppins: 'Poppins', sans-serif; /*Títulos Secundários Poppins*/

    /*Paleta Completa – Tech Azul Neon (Futurista/Moderna) */

    --cor-cianoNeon:  #00FFFF; /* Primária - Botões, links em destaque, ícones ativos */
    --cor-azulEletrico:  #0077FF; /*Secundária- Hover, botões secundários, barras de progresso*/
    --cor-azulPreto: #0A0F1C; /*Fundo 1 - Cor de fundo principal*/
    --cor-azulNoturno: #101820; /*Fundo 2 - Alternativa para seções ou blocos de conteúdo*/
    --cor-cinzaClaro: #E5E5E5; /*Texto Claro - Texto padrão sobre fundo escuro*/
    --cor-roxoNeon: #9D00FF; /*Destaque - Acentos, botões importantes, efeitos de glow*/
    --cor-cinzaDeep: #1C1C1C; /*Para bordas suaves e separadores*/
     --cor-brancoNeve: #F8F8FF; /*Para títulos principais. Dá um ar moderno e limpo.*/
     --cor-azulGelo: #66FCF1; /*Para títulos secundários ou para destacar seções específicas.*/
     
}

/*#################################################
############### { BODY } ########################
#################################################*/
html, body {
    overflow-x: hidden; /* controla o que acontece quando o conteúdo é maior que a largura da tela (eixo horizontal).*/
}

body{
    display: flex; /*Quando você usa display: flex em um container, o Flexbox entra em ação. Ele organiza os elementos filhos (ou seja, os elementos dentro daquele container) em uma direção específica*/
    flex-direction: column; /*Alinha os filhos na vertical (de cima para baixo)	*/
    height: 100vh; /* 100% da altura da tela */
    background-color: var(--cor-azulNoturno);
    font-family: var(--font-inter);
    color: var(--cor-cinzaClaro);
}

/*#################################################
############### { GLOBAL } ########################
#################################################*/
h1{
    color: var(--cor-cianoNeon);
    font-family: var(--font-orbitron);
    font-size: 1.9em;
    font-weight: 400;
}
h2{
    color: var(--cor-roxoNeon);
    font-family: var(--font-poppins);
    font-size: 1.5em;
    font-weight: 400;
    padding: 10px;
}
h3{
    font-family: var(--font-poppins);
    color: var(--cor-brancoNeve);
    font-size: 1.3em;
    font-weight: 400;
    padding: 10px; 
}
p{
    font-family: var(--font-inter);
    font-size: 1em;
    font-weight: 200;
    color: var(--cor-cinzaClaro);
    text-indent: 1em;
    padding: 10px;
}
pre{
    border: 1px solid var(--cor-azulEletrico);
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color:var(--cor-cinzaDeep);
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    text-align: justify;
}
a{
    color: var(--cor-roxoNeon);
    text-decoration: none;
}
a:hover{
    color: var(--cor-azulEletrico);
    text-decoration: none;
    transition-duration: 0.3s;
}
img{
    max-width: 600px;
    min-width: 200px;
}

/*#################################################
############### { HEADER } ########################
#################################################*/
header{
    background-color: var(--cor-azulPreto);
    color: var(--cor-cianoNeon);
    text-align: center;
    font-family: var(--font-orbitron);
    font-weight: 400;
}
header > h1{
    font-size: 2.5em;
    padding: 1.5em 0px 0.5em 0px;
}
header > p{
    font-size: 1em;
    padding-bottom: 0.7em;
    font-weight: 100;
}
/*#################################################
################# { NAV } #########################
#################################################*/
nav{
    padding-bottom: 1em;
    padding-top: 1em;
}
nav ul {
    display: flex; /*Aplicar na lista, pois senão ela continua se comportando como uma lista vertical por padrão*/
    justify-content: center;
    gap: 2em; /* Espaçamento entre os itens */
    padding: 0;
    margin: 0;
    list-style: none;
}
nav li a{
    color: var(--cor-roxoNeon);
    text-decoration: none;
}
nav li a:hover{
    color: var(--cor-azulEletrico);
    text-decoration: none;
    transition-duration: 0.3s;
}
/*#################################################
################# { MAIN } #########################
#################################################*/
main{
    flex:1; /* Faz o conteúdo crescer e empurrar o footer para baixo */
    font-family: var(--font-inter);
    font-size: 1em;
    font-weight: normal;
    color: var(--cor-cinzaClaro);
    padding-left: 5em;
    padding-top: 3em;
}

.apresetacao{
    display: flex;
    align-items: center;
    text-align: justify;
    margin: auto;
    padding-right: 6em;
    font-weight: 100;
    font-size: 1.5em;
    padding-bottom: 5em;
}

/*#################################################
################# { FOOTER } ######################
#################################################*/
footer{
    background-color: var(--cor-azulPreto);
    padding: 0.7em;
}
footer p{
    margin: auto;
    text-align: center;
    font-family: var(--font-inter);
    color: var(--cor-cinzaClaro);
    font-size: 0.9em;
    font-weight: 100;
}
footer a {
    font-family: var(--font-inter);
    color: var(--cor-cinzaClaro);
    text-decoration: none;
}
footer a:hover{
    color: var(--cor-roxoNeon);
    text-shadow: 0 0 4px var(--cor-roxoNeon);
}